<div class="design service_wrapper">
    <div class="hide-on-large-only">
        <h4 class="center weight-700">DESIGN</h4>
        <p class="center">
            <i>Your brand is a promise. Your brand is an asset.</i>
        </p>
    </div>
    <p class="grey-text"><span class="firstLetter red-text">Y</span>our brand identity is meant to be the “face” of your company. A logo is the basic unit of a larger brand identity that includes company fonts, colors, document-design guidelines. As consumers grow to know, like and trust your brand, they’re more likely to respond positively to sequential encounters with your logo, potentially leading to increased sales or improved mind share within the target market.</p>
    <p class="quote red-text">Eternity Films focuses on who you are as a company and how you want to be perceived in the market.</p>
    <p class="grey-text">Through design we establish a unique brand identity for your project, this is the simplest way to convey to your clients an idea or message as it is to be portrayed visually and personally.</p>
</div>