<div class="design service_wrapper">
    <div class="hide-on-large-only what-title">
        <h4 class="center weight-700">DESIGN</h4>
        <p class="center">
            <i>Your brand is a promise. Your brand is an asset.</i>
        </p>
    </div>
    <p class="grey-text"><span class="firstLetter red-text">Y</span>our brand identity is meant to be the “face” of your company. Through design we establish a unique identity for your project. This is the simplest way to accurately convey an idea to your clients.</p>
    <p class="quote red-text">Eternity Films focuses on who you are and how you want to be perceived in the market.</p>
    <img src="images/design-services.png" class="responsive-img" />
</div>