<div class="hash-film what-hash"></div>
<div class="film service_wrapper">
    <div class="hide-on-large-only what-title">
        <h4 class="center weight-700">FILM PRODUCTION</h4>
        <p class="center">
            <i>Show don't tell</i>
        </p>
    </div>
    <p class="grey-text" style="margin-top:0;"><span class="firstLetter amber-text">I</span>n today’s age, videos have become the most effective way to communicate any idea. They overcome many barriers such as language and distance, while also involving several senses at the same time. In a marketing strategy videos are essencial.</p>
    <p class="quote amber-text">Videos help you grow your brand even when you are not there.</p>
    <img src="images/film-services.png" class="responsive-img" />
</div>