<div class="hash-marketing"></div>
<div class="marketing service_wrapper-last">
    <div class="hide-on-large-only what-title">
        <h4 class="center weight-700">MARKETING</h4>
        <p class="center">
            <i>If your work is not online it doesn not exist</i>
        </p>
    </div>
    <p class="grey-text"><span class="firstLetter purple-text">E</span>xposure is the product of a marketing strategy, it determines a company’s success in the market by attracting people and making it more credible to consumers.
    </p>
    <p class="quote purple-text">Your customers are trying to find you and we'll help them reach you.</p>
    <img src="images/marketing-services.png" class="responsive-img" />
</div>