<div class="photo service_wrapper">
    <div class="hide-on-large-only what-title">
        <h4 class="center weight-700">PHOTOGRAPHY</h4>
        <p class="center">
            <i>You don't take a photograph, you make it</i>
        </p>
    </div>
    <p class="grey-text"><span class="firstLetter blue-text">I</span>n the age of visual content, photos are the universal language. They provide an immediate and intense impact in the mind of a customer, leaving a lasting impression. A photo either helps or hurts your business.</p>
    <p class="quote blue-text">A photograph can make the difference between making or not making a purchase.</p>
    <img src="images/photo-services.png" class="responsive-img" />
</div>