<div class="roulette">
    <h4 class="center">ETERNITY FILMS</h4>
    <p class="center">
        <i>Show, don't tell</i>
    </p>
    <img src="images/roulette_film.png" class="responsive-img hide-on-med-and-down roulette-film roulette-current" />
    <img src="images/roulette_web.png" class="responsive-img hide-on-med-and-down roulette-web roulette-current" />
    <img src="images/roulette_photo.png" class="responsive-img hide-on-med-and-down roulette-photo roulette-current" />
    <img src="images/roulette_design.png" class="responsive-img hide-on-med-and-down roulette-design roulette-current" />
    <img src="images/roulette_marketing.png" class="responsive-img hide-on-med-and-down roulette-marketing roulette-current" />
    <img src="images/roulette.png" class="responsive-img hide-on-med-and-down" />
</div>