<div class="roulette">
    <h4 class="center">ETERNITY FILMS</h4>
    <p class="center">
        <i>Show, don't tell</i>
    </p>
    <a href="#film" class="film-icon">
        <i class="mdi-av-videocam amber-text text-lighten-4 em1-3"></i>
    </a>
    <a href="#web" class="web-icon">
        <i class="mdi-device-devices green-text text-lighten-4 em1-3"></i>
    </a>
    <a href="#photo" class="photo-icon">
        <i class="mdi-image-camera blue-text text-lighten-4 em1-3"></i>
    </a>
    <a href="#design" class="design-icon">
        <i class="mdi-image-transform red-text text-lighten-4 em1-3"></i>
    </a>
    <a href="#marketing" class="marketing-icon">
        <i class="mdi-social-poll purple-text text-lighten-4 em1-3"></i>
    </a>
    <img src="images/roulette_film.png" class="responsive-img hide-on-med-and-down roulette-film roulette-current" />
    <img src="images/roulette_web.png" class="responsive-img hide-on-med-and-down roulette-web roulette-current" />
    <img src="images/roulette_photo.png" class="responsive-img hide-on-med-and-down roulette-photo roulette-current" />
    <img src="images/roulette_design.png" class="responsive-img hide-on-med-and-down roulette-design roulette-current" />
    <img src="images/roulette_marketing.png" class="responsive-img hide-on-med-and-down roulette-marketing roulette-current" />
    <img src="images/roulette.png" class="responsive-img hide-on-med-and-down" />
</div>