<div class="web service_wrapper">
    <div class="hide-on-large-only">
        <h4 class="center weight-700">WEB DEVELOPMENT</h4>
        <p class="center">
            <i>Your customers are online, you should be too</i>
        </p>
    </div>
    <p class="grey-text"><span class="firstLetter green-text">E</span>ternity Films is dedicated to achieve persistent success in the market place over competition by making your project discoverable. We create mobile-friendly websites that improve your visibility.</p>
    <p class="quote green-text">We take your online presence very seriously. </p>
    <img src="images/web-services.png" class="responsive-img" />
</div>