.intro_slide {
    height: 100vh;
    margin: 0;
    overflow: hidden;
    .valign {
        width: 100%;
    }
    .intro-image {
        height: 100vh;
        background-size: contain;
        background-position: center;
        background-clip: content-box;
        background-repeat: no-repeat;
    }
}

.intro-text {
    transform: translateY(-150%);
}

#intro {
    &.isDesktop {
        margin-top: -64px;
        .intro-image {
            margin-top: 0vh;
        }
        .intro-text {
            margin-top: -10px;
        }
    }
    &.checkMobile {
        margin-top: 0;
        .intro-image {
            margin-top: -10vh;
        }
        .intro-text {
            margin-top: 10vh;
        }
    }
}