.hasjs {
    nav {
        transition: background .3s, box-shadow 0.3s;
        height: 150px;
        line-height: 150px;
    }
}

.nojs {
    nav {
        @extend .z-depth-1;
    }
}

body.pageReady {
    nav {
        opacity: 1;
    }
}

nav {
    opacity: 0;
    background: color('grey', 'lighten-5');
    height: 50px;
    line-height: 50px;
    box-shadow: none;
    .brand-logo {
        display: flex;
        font-size: auto;
        height: 100%;
        img {
            height: 80%;
            vertical-align: middle;
        }
    }
}

#nav-mobile a {
    color: color("grey", "darken-2");
}