nav {
    transition: background .3s, box-shadow 0.3s;
    box-shadow: none;
    height: 150px;
    line-height: 150px;
    .brand-logo {
        display: flex;
        font-size: auto;
        height: 100%;
        img {
            vertical-align: middle;
        }
    }
}

#nav-mobile a {
    color: color("grey", "darken-2");
}