.big-quotes {
    display: inline-block;
    content: '\201D';
    font-size: 1em;
    font-family: 'HelveticaNeue', Helvetica, sans-serif;
    color: color("grey", "lighten-2");
}

.roulette {
    @media (min-width: 992px) {
        width: 345px;
    }
    h4 {
        transition: opacity .3s;
        font-weight: 700;
        margin: 0;
        font-size: 2em;
        @media (max-width: 600px) {
            font-size: 1.5em;
        }
    }
    h4::before {
        @extend .big-quotes;
        transform: scale(-2, 2) translate(40%, 10%);
    }
    h4::after {
        @extend .big-quotes;
        transform: scale(2, 2) translate(40%, 10%);
    }
    p {
        transition: opacity .3s;
        color: color("grey", "base");
        font-size: 1.8em;
        font-weight: 300;
        margin: 0;
        margin-bottom: 2em;
        line-height: 1.2em;
    }
    img {
        width: 345px;
        position: absolute;
        top: 130px;
    }
}