.big-quotes {
    display: inline-block;
    content: '\201D';
    font-size: 1em;
    font-family: 'HelveticaNeue', Helvetica, sans-serif;
    color: color("grey", "lighten-2");
}

.roulette {
    h4::before {
        @extend .big-quotes;
        transform: scale(-2, 2) translate(40%, 10%);
    }
    h4::after {
        @extend .big-quotes;
        transform: scale(2, 2) translate(40%, 10%);
    }
    h4 {
        font-weight: 700;
    }
    @media (max-width: 600px) {
        h4 {
            font-size: 1.5em;
        }
    }
}