.big-quotes {
    display: inline-block;
    content: '\201D';
    font-size: 1em;
    font-family: 'HelveticaNeue', Helvetica, sans-serif;
    color: color("grey", "lighten-2");
}

.roulette-wrapper {
    display: none;
}

.roulette-fixed {
    position: fixed;
    top: 20vh;
}

.roulette {
    display: block;
    @media (min-width: 992px) {
        width: 345px;
    }
    h4 {
        transition: opacity .3s;
        font-weight: 700;
        margin: 0;
        font-size: 2em;
        @media (max-width: 600px) {
            font-size: 1.5em;
        }
    }
    h4::before {
        @extend .big-quotes;
        transform: scale(-2, 2) translate(40%, 10%);
    }
    h4::after {
        @extend .big-quotes;
        transform: scale(2, 2) translate(40%, 10%);
    }
    p {
        transition: opacity .3s;
        color: color("grey", "base");
        font-size: 1.8em;
        font-weight: 300;
        margin: 0;
        margin-bottom: 2em;
        line-height: 1.2em;
    }
    img {
        width: 345px;
        position: absolute;
        top: 130px;
    }
    .roulette-current {
        transition: opacity .5s;
        opacity: 0;
        z-index: 2;
    }
    .roulette-icon {
        position: absolute;
        display: flex;
        align-items: center;
        width: 80px;
        height: 80px;
        z-index: 995;
        margin: 0;
        &:hover {
            i {
                font-size: 2em;
            }
        }
        i {
            margin: 0;
            width: 100%;
            text-align: center;
            transition: color .3s, font-size .5s;
            font-size: 1em;
        }
    }
    .film-icon {
        @extend .roulette-icon;
        left: 215px;
        top: 165px;
        &:hover {
            i {
                color: color('amber', 'darken-2') !important;
            }
        }
    }
    .web-icon {
        @extend .roulette-icon;
        left: 250px;
        top: 300px;
        &:hover {
            i {
                color: color('green', 'darken-2') !important;
            }
        }
    }
    .photo-icon {
        @extend .roulette-icon;
        left: 135px;
        top: 385px;
        &:hover {
            i {
                color: color('blue', 'darken-2') !important;
            }
        }
    }
    .design-icon {
        @extend .roulette-icon;
        left: 15px;
        top: 300px;
        &:hover {
            i {
                color: color('red', 'darken-2') !important;
            }
        }
    }
    .marketing-icon {
        @extend .roulette-icon;
        left: 55px;
        top: 165px;
        &:hover {
            i {
                color: color('purple', 'darken-2') !important;
            }
        }
    }
}