.section {
    .section-title {
        z-index: -100;
        h1 {
            text-align: center;
            font-weight: 900;
            font-size: 4em;
            color: color("grey", "lighten-2");
            margin: 0;
        }
        @media (min-width: 600px) {
            h1 {
                font-size: 7em;
            }
        }
        @media (min-width: 992px) {
            h1 {
                font-size: 10em;
            }
        }
    }
    .section-card-shadow {
        height: 1em;
        box-shadow: 0 0px 25px 0 rgba(0, 0, 0, 0.16);
        transform: translateZ(1px);
        background: color("shades", "white");
    }
    .section-card-background {
        height: 4em;
        transform: translateZ(2px);
        background: color("shades", "white");
    }
    .section-card {
        background: color("shades", "white");
    }
}