#hero-img {
    display: flex;
    height: 100vh;
    .valign-wrapper {
        height: 100vh;
    }
    &.hasjs {
        height: 330vh;
        .valign-wrapper {
            height: auto;
        }
    }
}