#hero-img {
    display: flex;
    height: 100vh;
    .valign-wrapper {
        height: 100vh;
    }
    &.isDesktop {
        height: 330vh;
    }
    &.checkMobile {
        img {
            opacity: 1;
        }
    }
}