.service_wrapper {
    @media (min-width: 992px) {
        margin-bottom: 20em;
    }
    @media (max-width: 992px) {
        padding-bottom: 5em;
        margin-bottom: 5em;
        border-bottom: 1px solid color("grey", "lighten-2");
    }
}

.service_wrapper-last {
    @media (min-width: 992px) {
        margin-bottom: 10em;
    }
    @media (max-width: 992px) {
        padding-bottom: 5em;
    }
}