<div class="hash-about" name="about"></div>
<div class="section">
    <div class="section-title" data-bottom-center="transform:translateY(-6em)" data-top-bottom="transform[quadratic]:translateY(1em)">
        <h1 data-firebase="menu/about"></h1>
    </div>
    <div class="section-card-shadow"></div>
    <div class="section-card-background"></div>
    <div class="section-card">
        <div class="container">
            <div class="row">
                <img src="images/about-diagram.png" class="responsive-img col s12 l8 offset-l2" style='margin-bottom:50px;' />
            </div>
            <div class="row">
                <div class="col s12 l4">
                    <h1 class="weight-100">"Show, don't tell"</h1>
                </div>
                <div class="col l4 m6 s12 grey-text weight-300 em1-3">
                    <p>Eternity Films is a media company based in Miami, FL that provides end to end production services. It works under a model well </p>
                </div>
                <div class="col l4 m6 s12 grey-text weight-300 em1-3">
                    <p>known as SCENIUS; great ideas are birthed by this group of creative artists who make up an ecology of talent.
                    </p>
                </div>
            </div>
            <div class="row" style="margin-top:10em">
                <h5 class="weight-300 center">THE TEAM</h5>
            </div>
            <div class="row">
                <div class="col l4 m6 s10 offset-s1">
                    <img src="images/team_kelly.png" class="responsive-img circle">
                    <p class="center weight-300 em1-3">KELLY<b>OVIEDO</b>
                    </p>
                    <p class="center grey-text">PRODUCER
                        <br>FILMMAKER</b>
                    </p>
                </div>
                <div class="col l4 m6 s10 offset-s1">
                    <img src="images/team_daniel.png" class="responsive-img circle">
                    <p class="center weight-300 em1-3">DANIEL<b>&Aacute;NGEL</b>
                    </p>
                    <p class="center grey-text">PHOTOGRAPHER
                        <br>WEB DEVELOPER</b>
                    </p>
                </div>
                <div class="col l4 m6 s10 offset-s1">
                    <img src="images/team_daniela.png" class="responsive-img circle">
                    <p class="center weight-300 em1-3">DANIELA<b>GONZ&Aacute;LEZ</b>
                    </p>
                    <p class="center grey-text">DESIGNER
                        <br>ANIMATOR</b>
                    </p>
                </div>
                <div class="col l4 m6 s10 offset-s1 offset-l2">
                    <img src="images/team_diego.png" class="responsive-img circle">
                    <p class="center weight-300 em1-3">DIEGO<b>GARZ&Oacute;N</b>
                    </p>
                    <p class="center grey-text">SOUND DESIGNER
                        <br>COMPOSER</b>
                    </p>
                </div>
                <div class="col l4 m6 s10 offset-s1 offset-m3">
                    <img src="images/team_anthony.png" class="responsive-img circle">
                    <p class="center weight-300 em1-3">ANTHONY <b>MORELLO</b>
                    </p>
                    <p class="center grey-text">ANIMATOR
                        <br>VISUAL ARTIST</b>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>