<div class="hash-contact" name="contact"></div>
<div class="section">
    <div class="section-title" data-bottom-center="transform:translateY(-6em)" data-top-bottom="transform[quadratic]:translateY(1em)">
        <h1 data-firebase="menu/contact"></h1>
    </div>
    <div class="section-card-shadow"></div>
    <div class="section-card-background"></div>
    <div class="section-card">
        <div class="container">

            <div class="row">
                <div class="col m6 s12">
                    <h5 class="center">CONTACT US</h5>
                    <div>
                        <p class="flow-text">
                            <i class="mdi-communication-call"></i>
                            <span>+(321) 230 - 6969</span> </p>
                        <p class="flow-text">
                            <i class=" mdi-communication-email"></i>
                            <span>info@eternity-films.com</span>
                        </p>




                    </div>
                    <br>

                </div>
                <div class="col m6 s12">
                    <h5 class="center">LET US CONTACT YOU</h5>
                    <div class="row" id="contactReady">
                        <i class="large mdi-action-done green-text" style="margin:auto;position:relative"></i>
                        <p class="center">Your information has been received.
                            <br>We will contact you soon.</p>
                    </div>
                    <div class="row" id="contactForm">
                        <div class="col s6">
                            <div class="input-field">
                                <input id="contact_firstName" type="text" class="validate">
                                <label for="contact_firstName">First Name</label>
                            </div>
                            <div class="input-field">
                                <input id="contact_lastName" type="text" class="validate">
                                <label for="contact_lastName">Last Name</label>
                            </div>
                            <div class="input-field">
                                <input id="contact_telephone" type="tel" class="validate">
                                <label for="contact_telephone">Telephone</label>
                            </div>
                            <div class="input-field">
                                <input id="contact_email" type="email" class="validate">
                                <label for="contact_email"> Email</label>
                            </div>


                        </div>
                        <div class="col s6">
                            <label>Interested in</label>
                            <p>
                                <input type="checkbox" id="contact_film" />
                                <label for="contact_film">Film</label>
                            </p>
                            <p>
                                <input type="checkbox" id="contact_web" />
                                <label for="contact_web">Web</label>
                            </p>
                            <p>
                                <input type="checkbox" id="contact_photo" />
                                <label for="contact_photo">Photography</label>
                            </p>
                            <p>
                                <input type="checkbox" id="contact_design" />
                                <label for="contact_design">Design</label>
                            </p>
                            <p>
                                <input type="checkbox" id="contact_marketing" />
                                <label for="contact_marketing">Marketing</label>
                            </p>
                            <div>
                                <select id="contact_time">
                                    <option value="" disabled selected>Call me at this time</option>
                                    <option value="9:00AM - 12:00M">9:00AM - 12:00M</option>
                                    <option value="12:00M - 3:00PM">12:00M - 3:00PM</option>
                                    <option value="3:00AM - 6:00PM">3:00AM - 6:00PM</option>
                                    <option value="Email me">Email me</option>
                                </select>
                            </div>
                        </div>
                        <div class="col s12">
                            <button class="btn waves-effect waves-light right" id="contact_submit">Submit
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>