<div class="footer_placeholder"></div>
<div class="footer">
    <div class="container bottom">
        <div class="row">
            <div class="col l8">
                <h4 class="white-text weight-100">Show, don't tell</h4>
                <p class="grey-text text-lighten-4 weight-300">T +1 (407) 257 4660
                    <br> info@eternity-films.com
                    <br> Miami, Florida
                    <br> United States
                </p>
            </div>

            <div class="col l4">
                <img src="images/eternitylogo_white.png" />
                <p class="center white-text weight-300">&copy; 2015</p>
            </div>
        </div>
    </div>
</div>