<div class="hash-intro"></div>
<div id="intro" class="intro_slide" style="background:#fff;">
    <div class="valign-wrapper">
        <div class="valign container">
            <div class="row">
                <div class="intro-image col l4 m6 offset-l4 offset-m3 s12" style="transform:translateY(-10vh)" data-0p="transform:translateY(-20vh)" data-100p="transform:translateY(80vh)" data-smooth-scrolling="off">
                    <img style="display:none;" src="images/intro1.gif" />
                </div>
                <div class="intro-text center col s12" data-0p="transform:translateY(-40vh)" data-100p="transform:translateY(60vh)" data-smooth-scrolling="off" style="transform:translateY(-40vh)">
                    <img style="display:none;" src="images/intro2.gif" />
                    <img style="max-width:150px;" src="images/white.png" />
                </div>
            </div>
        </div>
    </div>
</div>
<div class="intro_slide" style="background:#5238ae">
    <div class="valign-wrapper">
        <div class="valign">
            <div class="row">
                <div class="intro-image col m6 offset-m3 s12" style="background-image:url(images/animation-film.gif)" data-50p="transform:translateY(-80vh)" data-100p="transform:translateY(-10vh)" data-200p="transform:translateY(90vh)" data-smooth-scrolling="off">
                </div>
                <div class="intro-text center col s12" data-0p="transform:translateY(-130vh)" data-100p="transform:translateY(-30vh)" data-200p="transform:translateY(70vh)" data-smooth-scrolling="off">
                    <img class="responsive-img" src="images/intro-1.png" />
                </div>
            </div>
        </div>
    </div>
</div>
<div class="intro_slide" style="background:#bdbdbd">
    <div class="valign-wrapper">
        <div class="valign">
            <div class="row">
                <div class="intro-image col m6 offset-m3 s12" style="background-image:url(images/animation-web.gif)" data-150p="transform:translateY(-80vh)" data-200p="transform:translateY(0vh)" data-300p="transform:translateY(100vh)" data-smooth-scrolling="off">
                </div>
                <class class="intro-text center col s12" data-100p="transform:translateY(-130vh)" data-200p="transform:translateY(-30vh)" data-300p="transform:translateY(70vh)" data-smooth-scrolling="off"><img class="responsive-img" src="images/intro-2.png" />
            </div>
        </div>
    </div>
</div>
<div class="intro_slide" style="background:#513730">
    <div class="valign-wrapper">
        <div class="valign">
            <div class="row">
                <div class="intro-image col m6 offset-m3 s12" style="background-image:url(images/animation-photo.gif)" data-250p="transform:translateY(-80vh)" data-300p="transform:translateY(0vh)" data-400p="transform:translateY(100vh)" data-smooth-scrolling="off">
                </div>
                <div class="intro-text center col s12" data-200p="transform:translateY(-130vh)" data-300p="transform:translateY(-30vh)" data-400p="transform:translateY(70vh)" data-smooth-scrolling="off">
                    <img class="responsive-img" src="images/intro-3.png" />
                </div>
            </div>
        </div>
    </div>
</div>
<div class="intro_slide" style="background:#007b7b;">
    <div class="valign-wrapper">
        <div class="valign">
            <div class="row">
                <div class="intro-image col m6 offset-m3 s12" style="background-image:url(images/animation-design.gif)" data-350p="transform:translateY(-80vh)" data-400p="transform:translateY(0vh)" data-500p="transform:translateY(100vh)" data-smooth-scrolling="off">
                </div>
                <class class="intro-text center col s12" data-300p="transform:translateY(-130vh)" data-400p="transform:translateY(-30vh)" data-500p="transform:translateY(70vh)" data-smooth-scrolling="off"><img class="responsive-img" src="images/intro-4.png" />
            </div>
        </div>
    </div>
</div>
<div class="intro_slide" style="background:#0091e9;">
    <div class="valign-wrapper">
        <div class="valign">
            <div class="row">
                <div class="intro-image col m6 offset-m3 s12" style="background-image:url(images/animation-marketing.gif)" data-450p="transform:translateY(-80vh)" data-500p="transform:translateY(0vh)" data-600p="transform:translateY(100vh)" data-smooth-scrolling="off">
                </div>
                <class class="intro-text center col s12" data-400p="transform:translateY(-130vh)" data-500p="transform:translateY(-30vh)" data-600p="transform:translateY(70vh)" data-smooth-scrolling="off"><img class="responsive-img" src="images/intro-5.png" />
            </div>
        </div>
    </div>
</div>