<div class="hash-portfolio" name="portfolio"></div>
<div class="section">
    <div class="section-title" data-bottom-center="transform:translateY(-7em)" data-top-bottom="transform[quadratic]:translateY(1em)">
        <h1 data-firebase="menu/portfolio"></h1>
    </div>
    <div class="section-card-shadow__tabs">
    </div>
    <div class="section-card-background"></div>
    <div class="section-card">
        <div class="row portfolio-container">
            <div class="grid" data-firebase-list="portfolio" data-firebase-template-id="portfolioThumbnail_template">
            </div>
        </div>
    </div>
</div>


<template id="portfolioThumbnail_template" data-firebase-template>

    <figure data-firebase-id="{{id}}" class="portfolio-item effect-apollo">
        <img src="images/{{id}}.png" alt="img01" />
        <figcaption>
            <h2>
                <span data-firebase-child="thumbnail/title">
                </span>
                <b data-firebase-child="thumbnail/subtitle"></b>
            </h2>
            <p>Lily likes to play with crayons and pencils</p>
            <a href="#{{id}}-modal" class="modal-trigger">View more</a>
        </figcaption>
    </figure>
    <script type="text/javascript">
        $('.modal-trigger').leanModal();
    </script>
</template>