<div class="hash-reel" name="reel"></div>
<div class="section">
    <div class="section-title" data-bottom-center="transform:translateY(-6em)" data-top-bottom="transform[quadratic]:translateY(1em)">
        <h1 data-firebbase="menu/reel"></h1>
    </div>
    <div class="section-card-shadow"></div>
    <div class="section-card-background"></div>
    <div class="section-card">
        <div class="container">

            <div class="video-container" style="margin-bottom:2rem;margin-top:-0rem;">
                <iframe src="https://player.vimeo.com/video/122802387" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>