<div data-600p="background:rgb(250, 250, 250)" data-630p="background:rgb(250, 250, 250);" style="overflow:hidden;">
    <div name="home" data-hash-offset="100" class="hash-home"></div>
    <div id="hero-img" class="container checkMobile">
        <div style="top:800vh;position:absolute"></div>
        <div class="row">
            <div class="valign-wrapper">
                <div class="valign col m10 s12 offset-m1">

                    <img src="images/hero.png" class="responsive-img" data-540p="transform:translateY(-35vh) scale(0.7);opacity:0;" data-630p="transform:translateY(55vh) scale(0.9);opacity:1;" data-800p="transform:translateY(225vh) scale(1);opacity:1;" data-870p="transform:translateY(295vh) scale(1.3);opacity:0;" data-smooth-scrolling="off" />
                </div>
            </div>
        </div>
    </div>

</div>