<div id="what" class="section">
    <div class="section-title" data-bottom-center="transform:translateY(0em)" data-top-bottom="transform:translateY(7em)">
        <h1>What we do</h1>
    </div>
    <div class="section-card">
        <div class="container row">
            <div class="col l5">
                <!--@@include('services/roulette.html') -->
            </div>
            <!--@@include('services/film.html') -->
            <!--@@include('services/web.html') -->
            <!--@@include('services/photo.html') -->
            <!--@@include('services/design.html') -->
            <!--@@include('services/marketing.html') -->
        </div>
    </div>
</div>