<div id="what" class="section">
    <div class="section-title" data-bottom-center="transform:translateY(-4em)" data-top-bottom="transform:translateY(1em)">
        <h1>What we do</h1>
    </div>
    <div class="section-card-shadow"></div>
    <div class="section-card-background"></div>
    <div class="section-card">
        <div class="container">
            <div class="row">
                <div class="col l5 hide-on-med-and-down">
                    <!--@@include('what/roulette.html') -->
                </div>
                <div class="col l5 white-text" style="height:1px">.</div>
                <div class="col l5 offset-l2">
                    <!--@@include('what/film.html') -->
                    <!--@@include('what/web.html') -->
                    <!--@@include('what/photo.html') -->
                    <!--@@include('what/design.html') -->
                    <!--@@include('what/marketing.html') -->
                </div>
            </div>
        </div>
    </div>
</div>