<div id="what" class="section">
    <div class="section-title" data-bottom-center="transform:translateY(-4em)" data-top-bottom="transform:translateY(1em)">
        <h1 data-firebase="menu/what"></h1>
    </div>
    <div class="section-card-shadow"></div>
    <div class="section-card-background"></div>
    <div class="section-card">
        <div class="container">
            <div class="row what-wrappper checkMobile">
                <div class="col l5 hide-on-med-and-down roulette-wrapper">
                    <!--@@include('what/roulette.html') -->
                </div>
                <div class="col l5 white-text what-fix" style="height:1px">.</div>
                <div class="col l2 white-text what-fix-mobile" style="height:1px">.</div>
                <div class="col l5 offset-l2">
                    <div id="film">
                        <!--@@include('what/film.html') -->
                    </div>
                    <div id="web">
                        <!--@@include('what/web.html') -->
                    </div>
                    <div id="photo">
                        <!--@@include('what/photo.html') -->
                    </div>
                    <div id="design">
                        <!--@@include('what/design.html') -->
                    </div>
                    <div id="marketing">
                        <!--@@include('what/marketing.html') -->
                    </div>





                </div>
            </div>
        </div>
    </div>
</div>