<head>
    <meta charset="utf-8">
    <META HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE">
    <TITLE>Eternity Films</TITLE>
    <META NAME="subject" CONTENT="Bussiness">
    <META NAME="Description" CONTENT="Eternity Films is a media company based in Miami, FL that provides end to end production services.">
    <META NAME="Classification" CONTENT="Eternity Films is a media company based in Miami, FL that provides end to end production services. It works under a model well known as SCENIUS; great ideas are birthed by this group of creative artists who make up an ecology of talent.">
    <META NAME="Keywords" CONTENT="film, web, photo, design, marketing, end to end, production services, filmmaking, photography, print, branding, logo, portraits, websites, webpages, ">
    <META NAME="Language" CONTENT="English">
    <META NAME="Copyright" CONTENT="Eternity Films">
    <META NAME="distribution" CONTENT="Global">
    <META NAME="city" CONTENT="Miami, FL">
    <META NAME="country" CONTENT="USA">


    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900,300italic,400italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/style.css">
    <link rel="icon" type="image/png" href="images/favicon.png" />
    <link rel="SHORTCUT ICON" href="images/favicon.png" />
    <script src="js/modernizr.js"></script>
    <script src="https://cdn.firebase.com/js/client/2.2.2/firebase.js"></script>
</head>