<div class="navbar-fixed">
    <nav class="grey lighten-5" data-0p="line-height:120px;height:120px;@class:!grey lighten-5" data-20p="line-height:80px;height:80px;@class:!grey lighten-5 z-depth-1">
        <div class="nav-wrapper container">
            <a href="#" class="brand-logo valign-wrapper"><img src="images/navlogo.png" class="valign" height=90 data-0p="height:70px;" data-20p="height:55px;" />
            </a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="sass.html">Portfolio</a>
                </li>
                <li><a href="components.html">Services</a>
                </li>
                <li><a href="javascript.html">About</a>
                </li>
                <li><a href="javascript.html">Contact</a>
                </li>
            </ul>
        </div>
    </nav>
</div>